/spice/
/spice-protocol/
/openssl/
/jpeg/
/png/
/sdl_latest/
/android-spice-config.mak

#patches
/qemu-patches/qemu-2.3.0.patch
/qemu-patches/qemu-2.7.0.patch
/qemu-patches/qemu-2.9.0-rc0.patch
#/qemu-patches/qemu-2.9.0.patch
#/qemu-patches/qemu-2.10.0.patch
/patches/qemu-3.1.0.patch

/buildlog.txt
/buildlogerr.txt

#Don't check in just provide patches
/qemu
!/qemu/LIMBO.README
qemu-2.11.0
/glib
/libffi
/pixman
/SDL2
