makefile.msc

assert-msg-test
asyncqueue-test
atomic-test
base64-test
bit-test
bookmarkfile-test
child-test
closures
collate.out
completion-test
convert-test
cxx-test
deftype
dirname-test
env-test
errorcheck-mutex-test
file-test
file-test-get-contents
gio-test
iochannel-test
iochannel-test-outfile
list-test
mainloop-test
mapchild
mapping-test
maptest
markup-collect
markup-escape-test
markup-test
module-test
objects
objects2
onceinit
patterntest
properties
properties2
properties3
properties4
qsort-test
queue-test
regex-test
relation-test
scannerapi
sequence-test
shell-test
signal1
signal2
signal3
slice-color
slice-concurrent
slice-test
slice-threadinit
slist-test
spawn-test
testgdate
testgdateparser
testglib
testingbase64
testmarshal.c
testmarshal.h
thread-test
threadpool-test
timeloop
timeloop-closure
tree-test
type-test
unicode-caseconv
unicode-collate
unicode-encoding
unicode-normalize
uri-test
utf8-pointer
utf8-validate
